body {
    font: 18px "Lucida Grande";
}

div {
    box-sizing: border-box;
    width: fit-content;
    overflow: hidden;
    margin: 5px auto;
    text-align: center;
}

button {
    min-width: 7em;
    cursor: grab;
}

button, input, textarea {
    box-sizing: border-box;
    padding: 10px;
    margin-top: 15px;
    border: dotted;
    border-radius: 10px;
    border-color: #F5B041;
    background-color: #EBF5FB;
}

#root {
    width: 800px;
    height: 960px;
    background-color: #FEF9E7;
}

#main_container {
    width: 720px;
    display: grid;
    grid-template-columns: 180px 90px 450px;
}

#main_container div {
    width: 100%;
}
